div{
    background-color: darkturquoise;/*alter cor de fundo*/
    font-family: Cambria, Cochin, Georgia, Times, 'times ' ,serif;/*altera o tipo da fonte*/
    font-size: 30px/*altera o tamanho da fonte*/
}

div li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
}
h1, h2 {/*aplicando a regra CSS para mais de um seletor*/
    font-size:50px;
}