body{
   margin: 0;
   border: 0;
}

#coluna1{  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}


.lg1{
    background-color: red;
    border-radius: 50%;
    margin: 5px;
    height: 100px;
    width: 100px;
    transition: background 1s;
}

.lg1:hover,
.lg1:focus{
    background-color: brown;
}


.lg2{
    background-color: forestgreen;
    border-radius: 25%;
    margin: 5px;
    height: 100px;
    width: 100px;
    transition: background 1s;
}

.lg2:hover,
.lg2:focus{
    background-color: darkgreen;
}

.lg3{
    background-color: forestgreen;
    border-radius: 25%;
    margin:5px;
    height: 100px;
    width: 100px;
    transition: background 1s;
}

.lg3:hover,
.lg3:focus{
    background-color: darkgreen;
}

.lg4{
    background-color: forestgreen;
    border-radius: 25%;
    margin: 5px;
    height: 100px;
    width: 100px;
    transition: background 1s;
}

.lg4:hover,
.lg4:focus{
    background-color: darkgreen;
}


#coluna2{
    display: inline-block;
    
}
 

.lg5{
    background-color: forestgreen;
    border-radius: 25%;
    margin: 5px;
    height: 100px;
    width: 100px;
    transition: background 1s;
}

.lg5:hover,
.lg5:focus{
    background-color: darkgreen;
}

.lg6{
    background-color: forestgreen;
    border-radius: 25%;
    margin: 5px;
    height: 100px;
    width: 100px;
}

.lg7{
    background-color: forestgreen;
    border-radius: 25%;
    margin: 5px;
    height: 100px;
    width: 100px;
}

.lg8{
    background-color: forestgreen;
    border-radius: 25%;
    margin: 5px;
    height: 100px;
    width: 100px;
}


#coluna3{
    display: inline-block;
    
}

.lg9{
    background-color: forestgreen;
    border-radius: 25%;
    margin: 5px;
    height: 100px;
    width: 100px;
}

.lg10{
    border-radius: 25%;
    margin: 5px;
    height: 100px;
    width: 100px;
}

.lg11{
    background-color: forestgreen;
    border-radius: 25%;
    margin: 5px;
    height: 100px;
    width: 100px;
}

.lg12{
    border-radius: 25%;
    margin: 5px;
    height: 100px;
    width: 100px;
}
